.message-bubble {
    /* background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%);  */
}

.message-bubble__text {
    word-break: break-word;
    color: black!important;
    font-family: Inter!important;
    font-size: 12px;
}

/* .card-gel {
    background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%);
} */

.message-wrapper .message-wrapper--left .message-wrapper-- > .message-bubble {
    background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%);
}
.message-bubble--blue {
    background-color: lightgrey;
    /* color: var(--textColorInvert); */
    border-radius: 8px 8px 0 8px;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary {
    border-color: white;
    border-radius: 4px;
    color: white;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
}

.message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-default:first-child /deep/ .ui-button__content, .message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-primary:first-child /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
    color: white;
}
.ui-button__content {
    color: white!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 1;
}

button.ui-button .ui-ripple-ink {
    border-radius: 0;
    background-color: rgb(104,71,206, 0.4);
}
button.ui-button.ui-button--type-primary.ui-button--color-default, button.ui-button.ui-button--type-primary.ui-button--color-primary {
    min-height: 44px;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(104,71,206, 0.4)!important;
}

.dApi {
    font-weight: 700;
    text-decoration: underline;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary {
    border-color: white!important;
    border-radius: 4px;
    color: white!important;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
}

.rwc-embed__thumb {
    width: 64px;
    height: 64px;
    background-color: rgb(104,71,206, 0.4)!important;
    border: none;
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.13);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.13);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    -webkit-transition: opacity .4s,visibility .4s,-webkit-transform .4s;
    transition: opacity .4s,visibility .4s,-webkit-transform .4s;
    transition: transform .4s,opacity .4s,visibility .4s;
    transition: transform .4s,opacity .4s,visibility .4s,-webkit-transform .4s;
}

.rwc-embed--anim-pulse:after, .rwc-embed--anim-pulse:before {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rebeccapurple;
    content: "";
}

.rwc-embed__thumb img {
    max-width: 48%!important;
    max-height: 48%!important;
}

.rwc-embed__thumb-wrapper {
    width: 31px;
    height: 64px;
    max-width: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}

/* #app {
    background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%); 
} */