.message-bubble {
    /* background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%);  */
}

.message-bubble__text {
    word-break: break-word;
    color: black!important;
    font-family: Inter!important;
    font-size: 12px;
}

.card-gel {
    background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%);
}

.message-bubble--blue {
    background-color: lightgrey;
    /* color: var(--textColorInvert); */
    border-radius: 8px 8px 0 8px;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
}

.buttons-list button.ui-button.ui-button--type-secondary.ui-button--color-primary {
    border-color: white;
    border-radius: 4px;
    color: white;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    margin-bottom: 8px;
    height: auto;
    min-height: 32px;
}

.message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-default:first-child /deep/ .ui-button__content, .message-wrapper__conversation-buttons button.ui-button.ui-button--type-primary.ui-button--color-primary:first-child /deep/ .ui-button__content {
    max-width: 100%;
    word-break: break-all;
    font-size: 12px;
    color: white;
}
.ui-button__content {
    color: white!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 1;
}

button.ui-button .ui-ripple-ink {
    border-radius: 0;
    background-color: rgb(104,71,206, 0.4);
}
button.ui-button.ui-button--type-primary.ui-button--color-default[data-v-2d187846], button.ui-button.ui-button--type-primary.ui-button--color-primary[data-v-2d187846] {
    min-height: 44px;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(104,71,206, 0.4)!important;
}

.dApi {
    font-weight: 700;
    text-decoration: underline;
}

.rwc-embed__thumb {
    width: 64px;
    height: 64px;
    background-color: transparent!important;

}

/* #app {
    background: linear-gradient(135deg, #804cd9 0%, #544ad8 100%); 
} */